{% extends "crudapp/base.html"%}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="jumbotron">
        <h4 class="text-muted"> Employee Form</h4>
        <form method="post" autocomplete="off">
            {% csrf_token %}
            {{ form.name | as_crispy_field }}
            {{ form.emp_id | as_crispy_field}}
            <div class="row">
                <div class="col-md-4">
                    {{ form.mobileno | as_crispy_field}}
                </div>
                <div class="col-md-8">
                    {{ form.designation | as_crispy_field}}
                </div>
            </div>
            <button class="btn btn-success">Submit</button>
        </form>
    </div>
</div>
{% endblock %}