{% extends "blogapp/base.html" %}
{% block title %} {{ post.title_tag }} {% endblock %}
{% block content %}
<div class="container">
<h1>Post</h1>
    <div class="jumbotron">
<ul>
    <strong><li>{{ post.title }} </li></strong>
    <li>{{ post.body }}</li>
    <li class="text-muted">By: {{ post.author.first_name }} {{ post.author.last_name }}
        <a href="{% url "updatepost"  post.pk%}">(Edit)</a>
        <a href="{% url "deletepost"  post.pk%}">(Delete)</a>
    </li>
<hr/>
    <a  class= "btn btn-secondary" href="{% url 'home'  %}">Back</a>

</ul>
        </div>
    </div>
{% endblock%}